@model SportMarket.Models.Product
@{ 
    Layout = null;
}
    <div class="addBasket__content">
        <div class="addBasket__close"></div>
        <div class="addBasket__content__image"><img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" alt=""></div>
        <div class="addBasket__content__title">
            <h3>@Model.Title</h3>
        </div>
        <div class="addBasket__content__cost">
            <h4>@Model.Cost.ToString("N0") грн.</h4>
        </div>
        <div class="addBasket__content__counter">
            <h4>Кі-сть:</h4>
            <div class="addBasket__minus" onclick="BasketCount(-1, event)"></div>
            <input type="number" id="basketCount" value="1">
            <div class="addBasket__plus" onclick="BasketCount(1, event)"></div>
        </div>
        <div class="addBasket__content__button" onclick="AddToBasket(@Model.ProductId)">
            <div class="addBasket__button__block">
                <div class="addBasket__button__icon">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="252.000000pt" height="204.000000pt"
                         viewBox="0 0 252.000000 204.000000" preserveAspectRatio="xMidYMid meet">

                        <g transform="translate(0.000000,204.000000) scale(0.100000,-0.100000)" fill="#000000"
                           stroke="none">
                            <path d="M32 2007 c-33 -35 -30 -96 6 -130 28 -27 30 -27 164 -27 l136 0 27
-77 c15 -43 36 -96 45 -118 10 -22 28 -69 40 -105 12 -35 24 -69 28 -75 3 -5
16 -37 28 -70 12 -33 33 -93 47 -134 15 -40 31 -79 35 -85 5 -6 17 -38 27 -71
10 -33 21 -64 25 -70 4 -5 17 -37 28 -70 27 -78 70 -195 81 -220 29 -65 81
-209 81 -222 0 -9 -20 -33 -44 -54 -115 -101 -125 -275 -23 -386 58 -63 104
-83 198 -83 127 0 186 36 240 148 28 56 31 71 27 133 l-4 69 273 0 273 0 0
-88 c0 -80 3 -92 29 -133 64 -99 120 -129 244 -129 74 0 88 3 129 29 84 53
127 131 128 232 0 103 -39 177 -124 232 l-51 32 -549 5 c-475 4 -550 7 -556
20 -4 8 -17 39 -28 67 l-20 53 614 2 614 3 25 25 c15 15 34 57 49 105 13 44
40 134 61 200 21 66 45 147 54 180 9 33 20 65 24 71 3 7 14 43 23 80 8 38 19
73 24 79 11 14 50 160 50 190 0 13 -11 37 -24 52 l-24 28 -938 5 -938 5 -19
50 c-10 28 -24 64 -32 82 -8 17 -15 36 -15 42 0 21 -51 126 -67 139 -12 8 -71
12 -208 12 -187 0 -192 -1 -213 -23z m1153 -514 c3 -10 9 -75 12 -146 l6 -127
-219 2 -219 3 -26 70 c-14 39 -28 77 -32 85 -3 8 -15 41 -26 73 l-19 57 258 0
c236 0 258 -1 265 -17z m532 -30 c-4 -27 -9 -92 -13 -146 l-7 -97 -201 2 -201
3 -10 143 -10 142 224 0 224 0 -6 -47z m558 -25 c-13 -40 -33 -106 -46 -145
l-23 -73 -209 0 -209 0 6 88 c4 48 9 113 12 145 l6 57 243 0 244 0 -24 -72z
m-1061 -350 c3 -24 8 -82 11 -131 l6 -87 -167 2 -168 3 -7 25 c-4 14 -25 71
-47 128 l-39 102 203 0 203 0 5 -42z m472 -50 c-4 -51 -9 -110 -13 -130 l-6
-38 -172 0 -172 0 -12 113 c-6 62 -11 121 -11 130 0 15 19 17 196 17 l197 0
-7 -92z m491 80 c-2 -7 -21 -66 -41 -130 l-37 -118 -167 0 -168 0 3 68 c2 37
6 95 9 130 l6 62 200 0 c156 0 199 -3 195 -12z m-1152 -787 c24 -26 27 -35 22
-68 -10 -63 -75 -100 -122 -69 -14 9 -32 28 -41 42 -15 22 -15 30 -4 65 15 44
35 57 86 58 21 1 39 -8 59 -28z m1050 23 c20 -8 45 -56 45 -88 0 -40 -41 -80
-83 -80 -52 0 -87 35 -87 88 0 67 59 105 125 80z" />
                        </g>
                    </svg>
                </div>
                <h3>Додати у кошик</h3>
            </div>
        </div>
    </div>
    <script>
        $('.addBasket__close').click(function () {
            $('.addBasket').toggleClass('addBasket__active');
        });

        $("#basketCount").on("input", function () {
            if (+$(this).val() < 1)
                $(this).val(1)
        });
    </script>