.orders {
}

.orders__content {
    max-width: 1280px;
    margin: 0 auto;
}

.orders__search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.orders__search__block {
}


.orders__search__item select {
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--dark-two-gray-color);
    min-width: 200px;
    padding: 0 20px;
    font-size: 16px;
}

.orders__items {
    margin: 20px 0;
}

.orders__items__item {
    border-radius: 5px;
    border: 1px solid var(--dark-gray-color);
    background: white;
    padding: 10px;
}

    .orders__items__item:not(:last-child) {
        margin-bottom: 20px;
    }

.orders__item__blocks {
    display: flex;
    justify-content: space-between;
}

#order__sum._active,
#order__images._active {
    display: none;
}

.orders__full {
    display: none;
}

    .orders__full._active {
        display: block;
    }

.orders__item__chevron._active::before {
    transform: rotate(-45deg);
}

.orders__item__chevron._active::after {
    transform: rotate(45deg);
}

.orders__item__block {
    display: flex;
}

.orders__item__line {
    display: block;
    height: 100%;
    width: 10px;
    background: var(--dark-gray-color);
    border-radius: 50px;
    margin-right: 15px;
}

.orders__item__date {
    color: var(--dark-two-gray-color);
    margin-bottom: 5px;
}

.orders__item__status {
    margin-bottom: 15px;
}

.oreders__item__cost {
}

.orders__item__images {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.orders__item__image {
    position: relative;
    width: 50px;
    height: 50px;
}

    .orders__item__image img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
    }

.orders__item__chevron {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

    .orders__item__chevron::before,
    .orders__item__chevron::after {
        content: '';
        display: inline-block;
        background: var(--blue-color);
        width: 60%;
        height: 2px;
        position: absolute;
        top: 9px;
    }

    .orders__item__chevron::before {
        left: 0;
        transform: rotate(45deg);
    }

    .orders__item__chevron::after {
        right: 0;
        transform: rotate(-45deg);
    }

.orders__full {
    margin: 10px 0 0 0;
}

.orders__full__table {
    width: 100%;
    display: flex;
}

.orders__full__row {
    width: 100%;
    display: flex;
}

.orders__full__cell:first-child {
    min-width: 500px;
}

.orders__cell__title {
    color: var(--dark-two-gray-color);
    margin-bottom: 20px;
}

.orders__full__cell p {
    margin: 10px 0;
}

.order__content__items {
    max-height: 500px;
    overflow-y: auto;
}

.order__items__item {
    display: flex;
    margin-bottom: 30px;
    padding: 0 20px;
}

.order__item__block {
}

.order__block__image {
    width: 75px;
    height: 75px;
    position: relative;
    margin-right: 10px;
}

    .order__block__image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

.order__item__title {
    hyphens: auto;
    color: black;
}

    .order__item__title:hover {
        text-decoration: underline;
    }

.order__item__cost {
    margin: 10px 0;
    color: var(--red-color);
}

.order__item__count {
    color: var(--dark-two-gray-color);
}

.orders__content__title h2 {
    font-weight: 600;
}

@media(max-width: 900px) {
    .orders__full__row {
        display: block;
    }

    .orders__full__cell {
        margin-top: 10px;
    }
}
