:root {
    --blue-color: #39436d;
    --blue-hover-color: #5b6697;
    --green-color: #4ac970;
    --gray-color: #f2f4f5;
    --dark-gray-color: #e3e3e3;
    --dark-two-gray-color: #aaa;
    --red-color: #dc143c;
    --yellow-color: #ffd43b;
}
